.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

body::-webkit-scrollbar{
  scroll-padding: 0;
}

#navbar{
  flex: 1
}

#routes{
  flex: 2
}

#footer{
  flex: 1;
  position: sticky;
  bottom: 0;
}

@media screen and (max-width: 479px){
  .navbar li{
    margin-bottom: 10px;
  }
}