body{
  margin: 0;
  background-color: #fff;
}

.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 50px;
}

#routes{
  overflow: hidden;
}

#footer{
  bottom: 0;
}